<div class="sidebar-container">
    <div routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidebar-item"
        (click)="hideSidebar()">Home</div>
    <div routerLink="/live" routerLinkActive="active" class="sidebar-item" (click)="hideSidebar()">Live</div>
    <div routerLink="/rooms" routerLinkActive="active" class="sidebar-item" (click)="hideSidebar()">Rooms</div>
    <div routerLink="/favorites" routerLinkActive="active" class="sidebar-item" (click)="hideSidebar()">Favorites</div>
</div>